<div class="jumbotron">

	<center>
		<h1>Welcome to my Pizza Shack!</h1>

		<img src="http://www.mysticpizza.com/admin/resources/pizza-pepperoni-w857h456.jpg">
		<br>

		<%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default" %>
	</center>
</div>